name: Python application

run-name: ${{ github.action }} - ${{ github.ref_name }}

on:
  push:
    branches: ["develop"]

env:
  PythonVersion: 3.10

jobs:
  python-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Pyhton ${{ env.PythonVersion }} and enable pip cache
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PythonVersion }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8

      - name: Lint with flake8
        run: |
          flake8 . --show-source --statistics

      - name: Upload python artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-artifacts
          path: .





